<div class="container">
  <div class="row">
    <h2>Wanyan</h2>
  </div>
  <div class ="row">
    <%= @customers.each do |customer| %>
    <div class="customer-height">
      <%= link_to customer.user_name, customer_path(customer) %>
    </div>
    <%end%>
  </div>
</div>